proxy/proxy
lambda/lambda
lambda.zip
*.gz
*.iml
*.xml
*.zip
*.swp
*.clog
evaluation/cloudwatch/data
evaluation/downloaded
evaluation/data
log
*.clog
evaluation/bin
bin
.vscode
client/pytorch_client/ecClient.*
__pycache__
*.log
